.title {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
}

.tabs {
  display: flex;
}

.tab {
  padding: 8px 16px;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-right: 8px;
  color: var(--textBody);
  cursor: pointer;
  border-radius: 2px;
}

.tab.active {
  background-color: var(--activeTab);
}

.navigation {
  display: flex;
  margin-bottom: 32px;
}

.navigation .createNewExperiment {
  margin-right: 16px;
  align-items: center;
  display: flex;
}

.experiments > * {
  margin-bottom: 16px;
}

.experiments >*:last-child {
  margin-bottom: 0;
}

.tooltip {
  padding: 12px;
  max-width: 250px;
  text-align: center;
}
