.confidenceMessage {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4) !important;
  font-weight: 300;
  margin-top: 12px;
}

.confidenceMessage span {
  font-weight: 400;
  color: var(--linkBlue);
}

.tooltip {
  max-width: 500px;
  padding: 12px;
  text-align: center;
}

.tooltipContent span {
  color: var(--linkBlue);
}