.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.fieldGroup label {
  margin-bottom: 8px;
}

.fieldGroup .hint {
  font-size: 12px;
  color: #bababa;
  margin-top: 6px;
}

.radioGroup {
  display: flex;
}

.radioGroup .radio {
  margin-right: 32px;
}

.radio input {
  margin-right: 4px;
}

.selectElementBtn {
  margin-top: 12px;
  width: fit-content;
}

.elementInfo {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.elementInfo span {
  text-transform: uppercase;
}

.checkIcon {
  transform: translateY(-1px);
  margin-right: 6px;
}

.redirecting {
  margin-top: 8px;
}

.urlInput {
  max-width: 500px;
}

.urlAction {
  margin-top: 16px;
}

.furtherEdits {
  margin-top: 8px;
  font-size: 14px;
  color: #bababa;
}

.variant {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.variant:last-child {
  border-bottom: none;
}

.cell:first-child {
  margin-right: 12px;
}

.cell {
  font-size: 14px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.step {
  width: 500px;
  margin-bottom: 46px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 12px;
}

.stepTitle.targetaudience {
  margin-bottom: 4px;
}

.actions {
  display: flex;
  align-items: center;
}

.editButton {
  border-radius: 4px;
  margin-right: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.addVariant {
  margin-top: 16px;
}

.addVariantButton {
  border-radius: 4px;
}

.changes span {
  color: var(--linkBlue);
}

.stepHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepLegend {
  color: var(--textBodyLight);
  font-size: 14px;
  font-weight: 300;
}

.advancedTargetingRulesSwitch {
  margin-top: 12px;
}

@media (max-width: 720px) {
  .fieldGroup {
    width: 100%;
  }

  .step {
    width: 100%;
  }

  .variant {
    padding-right: 0;
  }

  .weight {
    display: none;
  }
}

