.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.fieldGroup label {
  margin-bottom: 8px;
}

.fieldGroup .hint {
  font-size: 12px;
  color: #bababa;
  margin-top: 6px;
}

.radioGroup {
  display: flex;
}

.radioGroup .radio {
  margin-right: 32px;
}

.radio input {
  margin-right: 4px;
}

.selectElementBtn {
  margin-top: 12px;
  width: fit-content;
}

.elementInfo {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.elementInfo span {
  text-transform: uppercase;
}

.checkIcon {
  transform: translateY(-1px);
  margin-right: 6px;
}

.redirecting {
  margin-top: 8px;
}

.urlInput {
  max-width: 500px;
}

.urlAction {
  margin-top: 16px;
}

.variant {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.variant:last-child {
  border-bottom: none;
}

.cell:first-child {
  width: 150px;
}

.cell {
  font-size: 14px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.step {
  /* width: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.02);
  padding: 16px 32px; */

  width: 500px;
  margin-bottom: 46px;
}


.actions {
  display: flex;
  align-items: center;
}

.editButton {
  border-radius: 4px;
  margin-right: 8px;
}

.addVariant {
  margin-top: 16px;
}

.addVariantButton {
  border-radius: 4px;
}

.changes span {
  color: var(--linkBlue);
}