.fieldGroup {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: 32px;
}

.fieldGroup label {
  margin-bottom: 8px;
}

.fieldGroup .hint {
  font-size: 12px;
  color: #bababa;
  margin-top: 6px;
}

.radioGroup {
  display: flex;
}

.radioGroup .radio {
  margin-right: 32px;
}

.radio input {
  margin-right: 4px;
}

.selectElementBtn {
  margin-top: 12px;
  width: fit-content;
}

.elementInfo {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.elementInfo span {
  text-transform: uppercase;
}

.checkIcon {
  transform: translateY(-1px);
  margin-right: 6px;
}
