.container {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colLeft {
    display: flex;
    align-items: center;
}

.colRight {
    display: flex;
    align-items: center;
}

.title {
    font-size: 26px;
    margin-right: 10px;
}

.tooltip {
    padding: 12px;
    max-width: 250px;
    text-align: center;
}