.modal > div {
    max-width: 500px;
    border-radius: 14px;
}

.title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--primary);
}



.header{
    margin-bottom: 24px;
}

