.PlayButton {
    background-color: transparent;
    border: 1.5px solid var(--green); /* Border color of the circle */
    border-radius: 50%; /* Makes the button round */
    width: 18px; /* Width of the circle */
    height: 18px; /* Height of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6px; 
    border-color: transparent transparent transparent var(--green); 
    transform: translateX(1px);
}