packages:
  yum:
    atk: []
    at-spi2-atk: []
    libdrm: []
    mesa-libgbm: []
    libxkbcommon: []
    xorg-x11-fonts-75dpi: []
    xorg-x11-fonts-Type1: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    cups-libs: []
    libXScrnSaver: []
    libXrandr: []
    alsa-lib: []
    pango: []
    libXinerama: []
    cairo: []
    libpng: []
    libjpeg-turbo: []
    nss: []
    freetype: []
    harfbuzz: []
    fontconfig: []
