.container {
  padding: 32px;
  width: fit-content;
  min-width: 400px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px hsl(0deg 0% 0% / 0.15);
}

.divider {
  opacity: 0.35;
  text-align: center;
  width: 100%;
  margin: 8px 0;
}

.input {
  /* width: 300px; */
  margin-bottom: 12px;
}

.button {
  width: 100%;
}

.button.google {
  background-color: var(--blue);
}

.loginLink {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.success {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  max-width: 400px;
}

.successTitle {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.successMessage {
  font-size: 24px;
  margin-top: 8px;
}

.successMessage span {
  /* font-weight: 600; */
  color: var(--linkBlue);
}

.error {
  color: var(--error);
  font-size: 14px;
  margin-bottom: 12px;
  max-width: 300px;
}

.affiliateCodeSection {
  background-color: #fbe0ff;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #f9d1ff;
}

.affiliateCodeSection h4 {
  font-size: 14px;
  color: var(--primary);
  font-weight: 6 00;
}
.affiliateCodeSection {
  width: 100%;
  margin: 1rem 0;
  /* max-width: 300px; */
}

.affiliateCodeRow {
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.affiliateInput {
  margin-bottom: 8px;
}

.applyButton {
  min-width: 80px;
}

.codeSuccess {
  font-size: 14px;
}

.successTitle {
  font-size: 14px;
  color: var(--green);
  font-weight: 600;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxContainer input[type='checkbox'] {
  cursor: pointer;
}

.checkboxContainer label {
  cursor: pointer;
  color: var(--primary);
}

@media (max-width: 720px) {
  .container {
    min-width: 100%;
  }
}
