.StatsSwitch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text {
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 300;
}

.text span {
  color: var(--linkBlue);
}

.switcher {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
