.nameCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  padding-left: 0;
}

.nameInput {
  padding: 2px 4px 2px 2px;
}

.nameContainer {
  padding: 2px 4px 2px 2px;
  white-space: pre-wrap;
}

.nameContainer:hover {
  background-color: rgba(0, 0, 0, 0.035);
}