.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary);
}

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.postLink {
  font-size: 24px;
  color: var(--linkBlue);
  text-decoration: none;
}

.postLink:hover {
  text-decoration: underline;
}

.postDate {
  font-size: 14px;
  color: #666;
}
