.Button{
    padding: 12px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button.loading, .Button.disabled{
    opacity: 0.5;
    cursor: initial;
}