.GoalsForm .classicGoals {
  display: flex;
}

.GoalsForm .classicGoals > div {
  margin-right: 24px;
}

.GoalsForm .classicGoals > div:last-child {
  margin-right: 0;
}

.tooltip {
  padding: 8px 12px;
}

.goals {
  margin-bottom: 32px;
}

.goal {
  border: 1px solid var(--whiteCardStroke);
  border-radius: 2px;
  padding: 24px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.gaGoal {
  display: flex;
  align-items: center;
  border: 1px solid var(--whiteCardStroke);
  border-radius: 2px;
  padding: 24px;
  margin-bottom: 24px;
  width: 100%;
  cursor: pointer;
  opacity: 0.5;
}

.gaGoal svg {
  margin-right: 16px;
}

.goal:hover {
  background-color: var(--whiteCardBg);
}

.goal.selected {
  border: 1px solid var(--blue);
}

.icon {
  width: fit-content;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 16px;
}

.gaGoal {
  display: flex;
}

.goalTitle {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.goalDescription {
  font-weight: 300;
  color: var(--textBodyLight);
}

.title {
  font-size: 22px;
  margin-bottom: 4px;
}

.pageVisitData .title {
  margin-bottom: 10px;
}

.title a {
  cursor: pointer;
}

.currentGoal .title {
  margin-bottom: 16px;
}

.subTitle {
  color: var(--textBody);
  font-size: 18px;
  font-weight: 300;
}

.link {
  color: var(--linkBlue);
  text-decoration: underline;
  cursor: pointer;
}

.input {
  padding: 4px 12px;
  outline: none;
  border: 1px solid var(--whiteCardStroke);
  background-color: var(--whiteCardBg);
  color: var(--textBody);
  font-size: 20px;
}

.row .input {
  width: 350px;
}

.clickData .input,
.clickData .goButton {
  height: 36px;
}

.clickData .input {
  margin-right: 8px;
}

.visitUrlPathInput {
  margin-right: 0;
}

.row {
  display: flex;
  align-items: center;
  border: 1px solid var(--whiteCardStroke);
  padding: 8px;
  width: fit-content;
  margin-top: 16px;
}

.domain {
  font-size: 20px;
  margin-right: 8px;
  color: var(--textBody);
}

.actions {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.cancel {
  text-decoration: underline;
  margin-left: 16px;
  color: var(--textBody);
  cursor: pointer;
}

.input {
  padding: 4px;
}

.radioGroup {
  margin-bottom: 8px;
}

.querySelectorInput {
  width: 300px;
}

.querySelectorInput div {
  border-radius: 4px;
}

.querySelect .subTitle {
  margin-bottom: 12px;
}

.matchTypeSelect {
  width: 150px;
}

.pageVisitUrlContainer {
  display: flex;
  align-items: center;
}

.pageVisitUrlContainer .row {
  margin-top: 0;
}

.matchTypeSelect {
  margin-right: 8px;
}
