.Dashboard {
    max-width: 930px;
}

.snippet {
    margin-bottom: 32px;
}

.setUpProjectFlow {
    margin-top: 16px;
}

.setUpProjectFlow .title {
    font-size: 32px;
}

.setUpProjectFlow .description {
    font-weight: 300;
}

.setUpProjectFlow .urlForm {
    margin-top: 16px;
}

.tutorialLink {
    margin-bottom: 8px;
}

.tutorialLink a {
    text-decoration: underline;
}

/* banners can have potential cards inside, if so, they should have a gap in between and be stacked vertically */
.banners {
    display: flex;
    flex-direction: column;
    gap: 16px;
}