.Experiment {
  max-width: 930px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  font-weight: 500;
  margin-bottom: 32px;
}

.setGoalCard {
  margin-bottom: 8px;
}

.setGoalCard:last-child {
  margin-bottom: 0;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoSection {
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 18px;
  margin-right: 8px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tableTitle {
  display: flex;
  align-items: center;
}

.tooltip {
  padding: 12px;
  max-width: 250px;
  text-align: center;
}

.tooltipInner {
  display: flex;
}

.createButton {
  margin-left: -4px;
}

.goal {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 4px;
}

.goal,
.datesData,
.targetPage, .targetAudience {
  margin-bottom: 8px;
}

.startDate span,
.endDate span {
  color: var(--textBodyLight);
  font-weight: 300;
}

.startDate a {
  font-weight: 300;
}

.targetPage,
.targetAudience {
  display: flex;
  align-items: center;
}

.targetPage a {
  margin-left: 4px;
  font-weight: 300;
}

.targetPage span {
  margin-left: 4px;
}

.targetAudienceText,
.advancedUrlRulesText {
  display: flex;
  align-items: center;
  margin-left: 4px;
  font-weight: 300;
  color: var(--textBodyLight);
}

.targetAudienceText .eyeIcon {
  opacity: 1;
}

.targetPage .editIcon, .eyeIcon {
  opacity: 0.4;
}

.editIcon, .eyeIcon {
  margin-left: 4px;
  cursor: pointer;
}

.breadCrumbs {
  margin-bottom: 8px;
}

.infoRow {
  display: flex;
  align-items: center;
}

.generalInfoSection {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 16px;
}

.generalInfoSection > * {
  margin-right: 16px;
}

.datesData {
  display: flex;
  align-items: center;
}

.datesData .startDate {
  margin-right: 16px;
}

.chart {
  margin-top: 48px;
}

.statSig {
  margin-top: 32px;
}

.targetAudienceModal {
  max-width: 500px;
  padding: 32px 32px 16px 32px;
  overflow: auto;
}

.targetAudienceModal .body {
  padding: 0;
}

.targetAudienceModal .title {
  margin-bottom: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  font-weight: 500;
}

.targetAudienceModal .button {
  border-radius: 4px !important;
}

.urlRulesModal {
  max-width: 500px;
  max-height: 90vh;
  padding: 8px;
  overflow: auto;
}

.urlRulesModal .body {
  padding: 1rem;
}

.editorUrl {
  display: flex;
  align-items: center;
}

.editorUrl .editIcon {
  opacity: 0.4;
  margin-left: 4px;
}

.editorUrlText {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.editorUrlText a {
  color: var(--linkBlue);
  font-weight: 300;
  text-decoration: none;
  margin-left: 4px;
}

.editorUrlText a:hover {
  text-decoration: underline;
}

.notSet {
  color: var(--error);
  font-weight: 300;
}

.editorUrlModal {
  max-width: auto;
  padding: 8px;
}

.editorUrlModal .title {
  margin-bottom: 0;
}
