@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

  --narrowBody: 800px;

  --whiteCardBg: #fcfcfc;
  --whiteCardStroke: #e0e0e0;
  --textBody: #575452;
  --green: #2ac773;
  --yellow: #e7ca25;
  --blue: #3c92e2;
  --linkBlue: #0072f5;
  --lightGray: '#bababa';
  --error: #ff0000;
  --activeTab: #f2f2f2;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--linkBlue);
  text-decoration: none;
}
