.layout {
  /* overflow: visible; */
  background-color: rgba(0,0,0,0.8);
}

.pageContent {
  padding: 10vh 10vw 10vh 10vw;
  min-height: 92vh;
}

.footer {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 8px;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 720px) {
  .pageContent {
    padding: 5vh 16px 5vh 16px;
  }
}
