.ReviewJourney{
    max-width: var(--narrowBody);
}

.title{
    font-weight: 400;
    color: black;
    font-size: 32px;
}

.subTitle{
    color: var(--textBody);
    font-weight: 300;
}

.header{
    margin-bottom: 32px;
}

.experiments{
    margin-bottom: 24px;
}

.experiments > div:last-child{
    border-bottom: none;
}