.container {
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-left: 64px;
  padding-right: 64px;
}

.identity a, .navItem, .navItem * {
  font-size: 14px;
}

.identity, .container li {
  cursor: pointer;
}

.active {
  color: var(--linkBlue);
}

.navItem a {
  color: black;
}

@media (max-width: 720px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    --navbar-height: 3rem;
  }

  .container header {
    padding-left: 0;
  }
}
