.container {
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 64px;
  padding-right: 64px;
  height: 3rem !important;
}

.identity a,
.navItem,
.navItem * {
  font-size: 14px;
}

.identity,
.container li {
  cursor: pointer;
}

.active {
  color: var(--linkBlue);
}

.navItem a {
  color: black;
}

.statusBar {
  font-size: 12px;
  padding: 2px;
  background: linear-gradient(220deg, #0072f5, #cb5edc);
  color: white;
  text-align: center;
}

.statusBar a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  margin-left: 8px;
}

.project {
  margin-left: 32px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.project span {
  text-transform: lowercase;
  font-weight: 500;
}

@media (max-width: 720px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    --navbar-height: 3rem !important;
  }

  .container header {
    padding-left: 0;
  }
}

.downArrow svg {
  width: 10px;
}

.id {
  display: flex;
  align-items: center;
}

.id img {
  margin-right: 4px;
}