.container { 
    border-radius: 4px!important;
    background-color: #d6ebff!important;
    border: 1px solid var(--blue)!important;
    color: var(--primary);
}

.container.warning {
    background-color: #fff3d6!important;
    border: 1px solid var(--yellow)!important;
}