.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 26px;
  margin-right: 10px;
  padding: 4px;
  transition: background-color 0.15s;
  color: var(--primary);
  margin-bottom: 0;
}

.name:hover {
  background-color: rgba(0, 0, 0, 0.035);
}
