.title {
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: 600;
  font-weight: 500;
}

.experiments > div:last-child {
  border-bottom: none;
}

.experiment {
  margin-top: 32px;
}

.experimentTitle {
  font-size: 24px;
  margin-bottom: 8px;
}

.variants {
  display: flex;
}

.variant {
  margin-right: 8px;
  
}