.title{
    font-size: 32px;
    font-weight: 600;
    font-weight: 500;
}

.firstExperiment{
    margin-bottom: 64px;
}

.firstExperiment > div{
    border-bottom: none;
}

.experiments > div:last-child{
    border-bottom: none;
}