.EnterUrlForm{
  text-align: center;
  padding-bottom: 80px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputAndHelpText{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.helpText{
    font-size: 14px;
}

.input {
  padding: 4px 8px;
  width: 400px;
  font-size: 18px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 4px;
}

.button {
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.button.loading{
    opacity: 0.5;
    cursor: initial;
}