.EnterUrlForm {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
}

.inputAndHelpText {
  display: flex;
  flex-direction: column;
}

.input {
  margin-right: 8px;
  padding: 4px 8px;
  width: 300px;
  font-size: 18px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
}

.input:focus {
  border-color: var(--linkBlue);
}

.button {
  height: 40px;
  background-color: var(--linkBlue);
}

