.layout {
    /* overflow: visible; */
    /* background-color: rgba(0,0,0,0.8); */
  }
  
  .pageContent {
    padding: 10vh 10vw 10vh 10vw;
    min-height: 92vh;
  }
  
  
  @media (max-width: 720px) {
    .pageContent {
      padding: 5vh 16px 5vh 16px;
    }
  }
  