.layout {
  /* overflow: visible; */
  /* background-color: rgba(0,0,0,0.8); */
}

.pageContent {
  /* padding: 10vh 10vw 10vh 10vw; */
  padding: 10vh 0;
  min-height: 92vh;
  background: linear-gradient(
    to right,
    rgba(238, 238, 255, 0.5),
    white,
    rgba(238, 238, 255, 0.5)
  );
}

@media (max-width: 720px) {
  .pageContent {
    padding: 5vh 16px 5vh 16px;
  }
}
