.Experiment {
  max-width: 850px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  font-weight: 500;
  margin-bottom: 32px;
}

.setGoalCard {
  margin-bottom: 8px;
}

.setGoalCard:last-child {
  margin-bottom: 0;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoSection {
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 18px;
  margin-right: 8px;
}

.tableTitle {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tooltip {
  padding: 12px;
  max-width: 250px;
  text-align: center;
}

.tooltipInner {
  display: flex;
}

.createButton {
  margin-left: -4px;
}

.goalCard,
.startDate,
.targetPage {
  margin-bottom: 4px;
}

.startDate span,
.targetPage span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.breadCrumbs {
  margin-bottom: 8px;
}

.infoRow {
  display: flex;
  align-items: center;
}

.generalInfoSection {
  font-size: 14px;
  margin-bottom: 16px;
}
