.container {
  padding: 32px;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px hsl(0deg 0% 0% / 0.15);
}

.divider {
  opacity: 0.35;
  text-align: center;
  width: 100%;
  margin: 8px 0;
}

.input {
  width: 300px;
  margin-bottom: 12px;
}

.button {
  width: 100%;
}

.button.google {
  background-color: var(--blue);
}

.signupLink {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.error {
  color: var(--error);
  font-size: 14px;
  margin-bottom: 12px;
  max-width: 300px;
}
