.Variant .mainInfo {
  color: black;
  padding: 12px 16px;
  border: 1px solid #cb5edc;
  color: var(--textBody);
  font-size: 16px;
  width: 230px;
  height: 100%;
  position: relative;
  border-radius: 4px;
}

.Variant.showStats .mainInfo {
  height: auto;
}

.Variant.isControl .mainInfo {
  border-color: var(--blue);
}

.Variant.isControl .text a {
  color: var(--blue);
}

.Variant .text a {
  color: #cb5edc;;
}

.colLeft {
  display: flex;
  align-items: center;
}

.original {
  margin-left: 8px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--blue);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.actionButtons { 
  align-items: center;
  display: none;
  position: absolute;
  right: 16px;
}

.mainInfo:hover .actionButtons {
  display: flex;
}

.delete {
  cursor: pointer;
  margin-right: 4px;
}

.edit {
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  opacity: .6;
}

.edit:hover {
  opacity: .75;
}

.text {
  margin-bottom: 8px;
}

.title {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}

.label {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}