.container {
  border-radius: 6px;
}

.Goal {
  display: flex;
  align-items: center;
}

.Goal a {
  cursor: pointer;
}

.title {
  margin-right: 8px;
  font-weight: 400;
  font-size: 18px;
}

.edit {
  margin-left: 8px;
  color: gray;
  cursor: pointer;
  line-height: 0;
}

.goalDescription a {
  text-decoration: underline;
}

.goalDescription span {
  color: var(--linkBlue);
}

.editTooltip {
  padding: 12px;
  max-width: 250px;
  text-align: center;
}
