.Description {
  max-width: 850px;
}

.Description p {
  margin-bottom: 8px;
}

.Description p:last-child {
  margin-bottom: 0;
}

.Description p span {
  font-weight: 500;
  color: var(--linkBlue);
  cursor: default;
}

.conversionTooltip {
    padding: 10px;
    max-width: 250px;
}