.container {
  display: flex;
}

.container,
.container * {
  /* overflow: visible; */
}

.sidebar {
  width: 20%;
  position: relative;
}

.main {
  padding-top: 0;
  color: var(--primary);
  margin-left: 16px;
  margin-right: 0;
}

.main h1 {
  color: var(--primary);
  line-height: 1.5;
}

.main p:first-child {
  margin-top: 0;
}

.main p {
  margin: 16px 0;
  font-weight: 300;
  font-size: 18px;
}

.main p,
.main li {
  line-height: 1.75;
}

.main code {
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 2px 4px;
  border-radius: 2px;
}

.main ol li {
  list-style: disc;
  margin-left: 16px;
}

.main ul li {
  list-style: circle;
  margin-left: 16px;
}

.main b,
.main strong {
  font-weight: 600;
}

.main h2 {
  margin: 32px 0 16px 0;
  font-size: 24px;
}

.main h3 {
  margin: 32px 0 16px 0;
  font-size: 28px;
}

.main h3:first-of-type {
  margin-top: 0;
}

.main img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 16px 0;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column-reverse;
  }

  .main {
    margin: 0;
    padding: 0;
  }

  .sidebar {
    width: 100%;
  }
}
