.pricing {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .pricing h3 {
    font-size: 32px;
    margin-bottom: 16px;
    color: var(--primary);
  }
  
  .pricing p b {
    font-weight: 500;
  }
  
  .pricingCTA {
    margin-top: 16px;
    font-size: 14px;
  }

.plans {
  display: flex;
  justify-content: center;
}

.plan {
  position: relative;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  border: 1px solid rgb(209, 209, 209);
  padding: 32px;
  border-radius: 4px;
  text-align: left;
  width: fit-content;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  /* background: linear-gradient(45deg, #ffffff, #dde6f5); */
}

.plan.growth {
  background: linear-gradient(#dde6f5,#fff 90%);
}

.plan.enterprise {
  background: linear-gradient(#ffd7f99e,#fff 90%);
  /* background: linear-gradient(#ffbe30,#fff 90%); */
}

.plan h4 {
  font-weight: 600;
}

.plan svg {
  display: inline;
}

.plan .planButton {
  margin-top: 12px;
  border-radius: 4px;
  margin-bottom: 32px;
}

.plan .price {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  line-height: normal;
}

.plan .payment {
  color: rgba(0, 0, 0, 0.5);
}

.plan .price span {
  font-size: 42px;
  font-weight: 600;
  color: var(--primary);
}

.pricing .bigger {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  margin-top: 12px;
}

.bullets .then {
  font-weight: 300;
  font-size: 12px;
  margin-top: -3px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 720px) {
    .pricing .plans {
      flex-direction: column;
    }
  
    .pricing .plan {
      width: 100%;
    }
  
    .pricing .plan {
      margin: 0;
      margin-bottom: 12px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .pricing {
      padding-top: 32px;
    }
  
    .pricing h3 {
      font-size: 28px;
    }

    .plan .planButton {
      margin-bottom: 0;
    }

    .plan .price {
      font-size: 20px;
    }

    .plan .price span {
      font-size: 26px;
    }

  }

.billingToggle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.switchWrapper {
  margin-right: 8px;
}

.chipContainer {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}

@media (max-width: 720px) {
  .chipContainer {
    bottom: 12px;
    top: auto;
  }
}